.body {
    background-color: aqua;
}

* {
	box-sizing: border-box;
}

h1 {
    text-align: center;
    color: purple;
    size: 40px;
}

.list {
    text-align: left;
    color: darkmagenta;
    font-family: Arial, Helvetica, sans-serif;
    size: 24px;
}

p {
    text-align: center;
    color: plum;
}